body{
    font-family: Arial;
    margin:0;
    background: linear-gradient(to right,#89f7fe,#66a6ff);
}

header{
    text-align:center;
    padding:20px;
    background:#003366;
    color:white;
}

nav{
    text-align:center;
    margin:10px;
}

nav button{
    padding:10px 15px;
    margin:5px;
    border:none;
    border-radius:8px;
    background:#ffcc00;
    cursor:pointer;
    font-weight:bold;
}

nav button:hover{
    background:#ffaa00;
}

.content{
    background:white;
    margin:20px auto;
    padding:20px;
    width:85%;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.hidden{
    display:none;
}

table{
    width:100%;
    border-collapse:collapse;
    margin:10px 0;
}

th,td{
    border:1px solid #ccc;
    padding:8px;
    text-align:center;
}

input{
    padding:6px;
}

footer{
    text-align:center;
    padding:15px;
    background:#003366;
    color:white;
}
